.task {
    margin-top: 0.7rem;
}
  
.taskBox {
    flex: 1;
}
  
.taskContent {
    background: var(--gray-500);
    border-radius: 8px;
    padding: 1rem;
    border: 1;
    border-color: var(--gray-400);
    height: 4.5rem;
    display: flex;
}
  
.taskContent header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
  
.deleteButton {
    background: transparent;
    border: 0;
    color: var(--gray-300);
    cursor: pointer;
    line-height: 0;
    margin-left: auto;
}
  
.deleteButton:hover {
    color: var(--red-500);
}
  
.taskContent p {
    margin-top: auto;
    margin-bottom: auto;
    color: var(--white);
    width: 90%;
}

.checkButton {
    background: transparent;
    border: 0;
    cursor: pointer;
    line-height: 0;
    margin-right: auto;
}

.circle {
    color: var(--blue-300);
}

.checkCircle {
    color: var(--purple-500);
    transition: color 0.3s;
}

.strikethrough {
    text-decoration: line-through;
    transition: text-decoration 0.3s;
}